@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.module-content.scrollbar-hide::-webkit-scrollbar {
	display: none!important; /* Hide scrollbar for webkit (Chrome, Safari) */
  }
  
  /* Optional: If needed for Firefox */
  .module-content.scrollbar-hide {
	scrollbar-width: none!important; /* Hide scrollbar for Firefox */
  }

  .xterm-char-measure-element {
	visibility: hidden;
  }

  .xterm-helper-textarea{
	width: 0px!important;
  }